

on: [push, pull_request]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@master
      - name: Install shiny
        run: |
          install.packages(c("shiny", "rsconnect"), type = "binary")
        shell: Rscript {0}
      - name: shinyapps credentials
        env:
          rsconnect_secret: ${{ secrets.RSCONNECT }}
        run: Rscript -e 'rsconnect::setAccountInfo(name="mattcowgill", token="1AF10CE411E9548A82B1F5592A87AB38", secret="$rsconnect_secret")'
        shell: Rscript {0}
